nav{
    font-family: 'Lato', sans-serif;
    background-color: #424242;
    width: 100%;
    height: 100%;
}

.logo{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin: 2px;
}

ul.nav a{
    
}

ul.nav a:hover{

}

.active>a{
background-color: #616161;
}